// Various containers wrapping content from old Bootstrap.
// The specific selectors are needed to override existing styles
// sass-lint:disable no-combinators
body > .layout,
.restrict-width,
body .container {
  @extend %container;
}

// Some pages (e.g. http://localhost:8087/about/what-we-do/into-practice/audit-and-service-improvement/assessment-tools/)
// weirdly have nested container so we reset the inner container
body > .layout .layout.container,
.container .container {
  max-width: 100%;
  width: auto;
}

.container {
  @include clearfix;
}

// sass-lint:disable no-qualifying-elements
header.container {
  margin: 0 auto em($spacing-large);

  .author {
    clear: both;
  }

}
