// sass-lint:disable-all

/// Footer component
.footer {
  @include links-inverse;
  @include font-size(-1);
  background: #222;
  color: $colour-text-inverse;
  overflow: hidden;
  padding: em($spacing-large 0 $spacing-medium);
  position: relative;

  @media print {
    display: none;
  }

  // Remove unncessary line breaks from the CMS so we can control spacing
  br {
    display: none;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;

      [class^=icon-],
      [class*=" icon-"] {
        text-decoration: none;
      }
    }

    [class^=icon-],
    [class*=" icon-"] {
      margin: em(0 $spacing-small 0 0);
    }
  }

  p {
    @include font-size(-1);
  }

  ul {
    margin: 0;
  }

 .row {
    display: block;
  }

  h2 {
    @include font-size(h4);
    font-weight: normal;

    &:first-child {
      margin-top: 0;
    }
  }

  // Old Less styling used empty div.
  // We use a pseudo element on the "legal panel" instead to avoid extra markup.
  .line-div {
    display: none;
  }
}


/// Main navigation section with logo and large nav
#main-nav {
  margin-bottom: em($spacing-large);

  // Large 'main' links
  .main-nav-panel {
    @include font-size(1);
    margin-bottom: em($spacing-medium);
  }

  /// Footer logo
  .footer-nicelogo {
    @include font-size(5);
    display: inline-block;
    line-height: 1;
    margin-bottom: em($spacing-small);

    &:hover {
      text-decoration: none;
    }

    .logo {
      margin: 0;

      &:before {
        // NICE Logo icon
        // See http://nhsevidence.github.io/NICE.Bootstrap/Guide.Glyphs.html#charset
        content: "\e01a";
      }
    }

    .logotext {
      @include invisible;
    }
  }

  @include mq($from: md) {
    margin-bottom: 0;
  }
}


/// Explore footer navigation i.e. services
#explore {
  margin-bottom: em($spacing-large);

  @include mq($from: md) {
    margin-bottom: 0;
  }
}


/// Syndication footer section i.e. content re-use
#syndication {
  margin-bottom: em($spacing-large);

  @include mq($from: md) {
    margin-bottom: 0;
  }
}


/// Get involved section in the footer
#get-involved {
  @include clearfix;
  background: $colour-nice-teal;
  clear: both;
  margin: rem($spacing-large) rem(- $spacing-large); // Negative margin to 'jump outside' the container
  padding: rem($spacing-large);

  #get-involved-panel {
    margin: 0;
  }

  @include mq($from: md) {
    display: inline;
    height: 1000px;
    margin: 0;
    padding: em($spacing-large);
    position: absolute;
    top: 0;
    width: 1000px;
  }
}


/// Legal panel in the footer, contains the nav and copyright statement
.legal-panel {
  @include font-size(-2);

  // Legal navigation list with accessibility/FOI/terms etc
  .nav-legal {
    list-style: none;
    margin: 0 0 em($spacing-large);
  }

   // Copyright year, notice of rights etc
  .legal-copyright {
      @include font-size(-2);
      margin: 0;
      clear: both;

      a { text-decoration: underline; }
  }

  @include mq($from: sm) {
    margin-top: em($spacing-x-large);
    position: relative;

    // Line divider between sections
    .container {
      padding-top: em($spacing-large);
      position: relative;

      &:before {
        background: $colour-nice-grey-1;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 72.4680851%; // Magic percentage from grid
      }
    }

    .nav-legal {
      @include clearfix;
      margin: em(0 0 $spacing-small);
      margin-left: em(-$spacing-small); // To offset the first item padding
    }

    li {
      border-left: 1px solid $colour-nice-white;
      float: left;

      &:first-child {
        border-left:none;
      }

      a {
        padding: em(0 $spacing-small);
      }
    }
  }
}
