// Prettyprint styles conflict with tags from the Design System, so reset them here
// sass-lint:disable no-combinators
.prettyprint .tag {
  background: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: inherit;
  padding: 0;
}
